.round-button {
 -fx-background-color: #ff4000;
 -fx-text-fill: white;
 -fx-background-radius: 30;
 }

 .round-button:hover {
 -fx-background-color: #ab8f02;
 }

 .round-button:pressed {
 -fx-background-color: #bd3702;
 -fx-scale-x: 0.95;
 -fx-scale-y: 0.95;
 }

 .text-field {
 -fx-max-width: 200;
 -fx-background-radius:20;
 }

 .background {
 -fx-background-image: url("burger.jpg");
 -fx-background-size: cover;
 -fx-background-position: center;
 }

 .title {
 -fx-font-size: 30px;
 -fx-text-fill: white;
 -fx-font-weight: bold;
 }

 .label {
 -fx-text-fill: white;
 -fx-font-weight: bold;
 }